.ck.ck-content a {
  color: #06c;
  text-decoration: underline;
}
.ck.ck-content a[target="_blank"]::after {
  content: url('../img/external-link.svg');
  margin-left: 2px;
}

.ck.ck-content {
  font-family: 'iA Writer Duospace', 'Courier New', Courier, monospace;
}

.ck.ck-content hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(50 50 50),rgba(0,0,0,0));
  margin: 30px auto;
  width: 40%;
  opacity: 0.3;
}


.ck.ck-content pre {
  font-size: 0.94rem;
}
