@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

.btn {
  @apply font-bold py-2 px-4 rounded-full;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-green {
  @apply bg-green-500 text-white;
}
.btn-red {
  @apply bg-red-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-green:hover {
  @apply bg-green-700;
}

.border-b-1 {
  border-bottom-width: 1px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border: 0;
}
::-webkit-scrollbar-track {
  background-color: #eee;
}