@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

.btn {
  @apply font-bold py-2 px-4 rounded-full;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-green {
  @apply bg-green-500 text-white;
}
.btn-red {
  @apply bg-red-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-green:hover {
  @apply bg-green-700;
}

.border-b-1 {
  border-bottom-width: 1px;
}

.ql-container {
  box-sizing: border-box;
  font-family: "open sans", Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 100%;
  margin: 0px;
  position: relative;
}

.ql-container a[target="_blank"]::after {
  content: url('../img/external-link.svg');
  margin-left: 2px;
}

.ql-editor p {
  @apply leading-relaxed;
}
.ql-container > .ql-editor ol > li {
  word-break: break-all;
}
