:root {
	--display-emoji-size: 1.5em;
}

.ck.ck-content img.em {
	display: inline-block;
	width: auto;
	height: var(--display-emoji-size);
	vertical-align: middle;
	margin-top: -4px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
