@tailwind base;
@tailwind components;
@tailwind utilities;

.border-b-1 {
  border-bottom-width: 1px;
}

.text-orange-600 {
  color: rgba(234,88,12,1);
}

body .ql-editor p {
  @apply leading-relaxed;
}
body .ql-container > .ql-editor ol > li {
  word-break: break-all;
}

.home-icon {
  @apply inline-block w-10 h-10 m-3 rounded-full border-2 bg-contain;
  background-image: url('../img/icon-home.png');
}
