@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-t-1 {
    border-top-width: 1px;
  }
}

:root {
  --header-height: 6rem;
  --header-height-small: 3.5rem;
  --font-family: 'iA Writer Duospace', 'Courier New', Courier, monospace;
  --scrollbar-width: 8px;
  --scrollbar-height: 8px;
}

html {
  scroll-behavior: smooth;
}

html, input, textarea {
  font-family: var(--font-family);
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

.border-b-1 {
  border-bottom-width: 1px;
}

.icon-top {
  @apply inline-block h-full rounded-full border-2 bg-contain cursor-pointer;
}

.c-input {
  @apply shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border border-gray-300 rounded-md;
}

.grecaptcha-badge {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  height: var(--scrollbar-height);
  background-color: #ccc;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: calc(var(--scrollbar-width) / 2);
}
::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: calc(var(--scrollbar-width) / 2);
}

.tag {
  padding: 0.175rem;
  @apply hover:shadow-md rounded-sm transition-colors duration-150 text-gray-600 hover:bg-gray-700 hover:text-white text-sm bg-gray-200 mx-1;
}
