.note {
  @apply w-full;
}

.note__header__title {
  @apply text-sky-500 mb-0 text-xl sm:text-2xl md:text-3xl
}
.note__header__hr {
  border-top-width: 1px;
  @apply m-0 border-gray-300;
}
.note__published-date {
  @apply text-right text-gray-600 text-sm;
}

.note__content-wrapper {
  @apply border-0;
}

.note__toc {
  word-wrap: break-word;
  position: sticky;
  top: 200px;
  float: right;
  height: 65vh;
  display: flex;
  flex-direction: column;
  display: none;
}
@media (min-width: 1366px) {
  .note__toc {
    display: block;
    width: 200px;
    margin-right: -250px;
    word-wrap: break-word;
  }
}
@media (min-width: 1536px) {
  .note__toc {
    display: block;
    width: 360px;
    margin-right: -420px;
  }
}

.note__toc > div {
  max-height: 65vh;
  overflow-y: auto;
  border-left: 2px solid gray;
  padding-left: 16px;

}
.note__toc > div:hover a {
  opacity: 1;
}
.note__toc > div::-webkit-scrollbar {
  width: 4px;
  background-color: #ccc;
}
.note__toc a {
  line-height: 1.5em;
  opacity: .25;
  transition: opacity .24s ease;
  @apply text-slate-800;
}
.note__toc a.active {
  font-weight: bold;
  opacity: 1;
}
.note__toc a.note__toc__item {
  display: block;
}
.note__toc a.note__toc__level_2 {
  @apply ml-4;
}
.note__toc a.note__toc__level_3 {
  @apply ml-8;
}
.note__toc a.note__toc__level_4 {
  @apply ml-12;
}
.note__toc a.note__toc__level_5 {
  @apply ml-16;
}
.note__toc a.note__toc__level_6 {
  @apply ml-20;
}

.note__tags {
  @apply mt-5;
}
.note__tags-label {
  @apply font-bold text-xl;
}
.note__comment-wrapper {
  @apply mt-4;
}